force-app/main/default/flows/Create_Budgets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yesno</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>LoopOrNo</name>
        <label>LoopOrNo</label>
        <locationX>605</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Confirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateAnother</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yesno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Sub_Budget</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Categories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Budget__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Budgets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Budgets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Monthly_Budget</name>
        <label>Create Monthly Budget</label>
        <locationX>307</locationX>
        <locationY>333</locationY>
        <assignRecordIdToReference>MonthlyB.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_a_Sub_Budget</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>MBEDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MBudgetName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>MBSDate</elementReference>
            </value>
        </inputAssignments>
        <object>Monthly_Budget__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sub_Budget</name>
        <label>Create Sub Budget</label>
        <locationX>595</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Create_another_Sub_Budget</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>SBudgetCat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Budget__c</field>
            <value>
                <elementReference>MonthlyB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SBudgetName</elementReference>
            </value>
        </inputAssignments>
        <object>Budget__c</object>
    </recordCreates>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>614</locationX>
        <locationY>660</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>Monthly Budget and all Sub-Budgets successfully created! Thank you!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_Sub_Budget</name>
        <label>Create a Sub Budget</label>
        <locationX>453</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Sub_Budget</targetReference>
        </connector>
        <fields>
            <name>Disp2</name>
            <fieldText>Insert information for the Sub Budget:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SBudgetName</name>
            <dataType>String</dataType>
            <fieldText>Sub Budget Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SBudgetCat</name>
            <choiceReferences>Categories</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sub Budget Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_another_Sub_Budget</name>
        <label>Create another Sub-Budget?</label>
        <locationX>784</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopOrNo</targetReference>
        </connector>
        <fields>
            <name>Disp3</name>
            <fieldText>Create another Sub-Budget?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateAnother</name>
            <choiceReferences>Yesno</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Yes/No?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateMBudget</name>
        <label>CreateMBudget</label>
        <locationX>174</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Monthly_Budget</targetReference>
        </connector>
        <fields>
            <name>Disp1</name>
            <fieldText>Insert information for the Monthly Budget:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MBudgetName</name>
            <dataType>String</dataType>
            <fieldText>Budget Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MBSDate</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MBEDate</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>End Date must be after the Start Date</errorMessage>
                <formulaExpression>{!MBEDate} &gt;= {!MBSDate}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error2</name>
        <label>Error2</label>
        <locationX>525</locationX>
        <locationY>180</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_a_Sub_Budget</targetReference>
        </connector>
        <fields>
            <name>DispError2</name>
            <fieldText>There is already a Sub Budget with that category attached to this Monthly Budget. Please select another category.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CreateMBudget</startElementReference>
    <status>Active</status>
    <variables>
        <name>MonthlyB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Monthly_Budget__c</objectType>
    </variables>
</Flow>
